apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
type: Opaque
data:
  AWS_ACCESS_KEY_ID: {{ .Values.aws.accessKey | b64enc | quote}}
  AWS_SECRET_ACCESS_KEY: {{ .Values.aws.secretKey | b64enc | quote}}
  AWS_DEFAULT_REGION: {{ "us-east-1" | b64enc | quote}}