apiVersion: apps/v1
kind: Deployment
metadata:
  name: opsguardian-deployment
  labels: 
    app: opsguardian
spec:
  replicas: 1
  selector:
    matchLabels:
      app: opsguardian
  template:
    metadata:
      labels:
        app: opsguardian
    spec:
      containers:
      - name: opsguardian
        image: opsguardian:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_DEFAULT_REGION
          valueFrom:
            secretKeyRef:
              name: aws-creds
              key: AWS_DEFAULT_REGION